*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table,th,tr,td{
    border:1px solid #000;
    border-collapse: collapse;
}
td:nth-child(5){
    text-align: center;
}
th{
    background-color: green;
    color:#fff;
}
td{
    color: green;
}
